<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>小食</string>
		<key>foods</key>
		<array>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>10001</string>
				<key>image</key>
				<string>xiaoshi_01</string>
				<key>salesNum</key>
				<string>13</string>
				<key>price</key>
				<string>5.00</string>
				<key>name</key>
				<string>盐酥鸡块</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>10002</string>
				<key>image</key>
				<string>xiaoshi_02</string>
				<key>salesNum</key>
				<string>5</string>
				<key>price</key>
				<string>8.00</string>
				<key>name</key>
				<string>木耳</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>10003</string>
				<key>image</key>
				<string>xiaoshi_03</string>
				<key>salesNum</key>
				<string>0</string>
				<key>price</key>
				<string>7.00</string>
				<key>name</key>
				<string>鸭胗</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>10004</string>
				<key>image</key>
				<string>xiaoshi_04</string>
				<key>salesNum</key>
				<string>2</string>
				<key>price</key>
				<string>12.00</string>
				<key>name</key>
				<string>烤肉饭01</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>10005</string>
				<key>image</key>
				<string>xiaoshi_05</string>
				<key>salesNum</key>
				<string>1</string>
				<key>price</key>
				<string>6.00</string>
				<key>name</key>
				<string>豆腐干</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>10006</string>
				<key>image</key>
				<string>xiaoshi_06</string>
				<key>salesNum</key>
				<string>9</string>
				<key>price</key>
				<string>4.00</string>
				<key>name</key>
				<string>煎蛋</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>10007</string>
				<key>image</key>
				<string>xiaoshi_07</string>
				<key>salesNum</key>
				<string>12</string>
				<key>price</key>
				<string>12.00</string>
				<key>name</key>
				<string>烤肉饭02</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>米饭</string>
		<key>foods</key>
		<array>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>20001</string>
				<key>image</key>
				<string>mifan_01</string>
				<key>salesNum</key>
				<string>22</string>
				<key>price</key>
				<string>12.00</string>
				<key>name</key>
				<string>盖浇饭01</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>20002</string>
				<key>image</key>
				<string>mifan_03</string>
				<key>salesNum</key>
				<string>38</string>
				<key>price</key>
				<string>2.00</string>
				<key>name</key>
				<string>米饭</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>20003</string>
				<key>image</key>
				<string>mifan_04</string>
				<key>salesNum</key>
				<string>19</string>
				<key>price</key>
				<string>12.00</string>
				<key>name</key>
				<string>盖浇饭03</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>20004</string>
				<key>image</key>
				<string>mifan_05</string>
				<key>salesNum</key>
				<string>10</string>
				<key>price</key>
				<string>14.00</string>
				<key>name</key>
				<string>盖浇饭05</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>20005</string>
				<key>image</key>
				<string>mifan_06</string>
				<key>salesNum</key>
				<string>8</string>
				<key>price</key>
				<string>14.00</string>
				<key>name</key>
				<string>盖浇饭06</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>20006</string>
				<key>image</key>
				<string>mifan_07</string>
				<key>salesNum</key>
				<string>7</string>
				<key>price</key>
				<string>12.00</string>
				<key>name</key>
				<string>盖浇饭07</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>面食</string>
		<key>foods</key>
		<array>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>30001</string>
				<key>image</key>
				<string>mian_01</string>
				<key>salesNum</key>
				<string>18</string>
				<key>price</key>
				<string>10.00</string>
				<key>name</key>
				<string>面01</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>30002</string>
				<key>image</key>
				<string>mian_02</string>
				<key>salesNum</key>
				<string>19</string>
				<key>price</key>
				<string>8.00</string>
				<key>name</key>
				<string>面02</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>30003</string>
				<key>image</key>
				<string>mian_03</string>
				<key>salesNum</key>
				<string>1</string>
				<key>price</key>
				<string>20</string>
				<key>name</key>
				<string>面03</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>30004</string>
				<key>image</key>
				<string>mian_04</string>
				<key>salesNum</key>
				<string>2</string>
				<key>price</key>
				<string>12.00</string>
				<key>name</key>
				<string>面04</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>30005</string>
				<key>image</key>
				<string>mian_05</string>
				<key>salesNum</key>
				<string>9</string>
				<key>price</key>
				<string>12.00</string>
				<key>name</key>
				<string>面05</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>披萨</string>
		<key>foods</key>
		<array>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>40001</string>
				<key>image</key>
				<string>pizza_01</string>
				<key>salesNum</key>
				<string>13</string>
				<key>price</key>
				<string>5.00</string>
				<key>name</key>
				<string>披萨01</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>40002</string>
				<key>image</key>
				<string>pizza_02</string>
				<key>salesNum</key>
				<string>5</string>
				<key>price</key>
				<string>8.00</string>
				<key>name</key>
				<string>披萨02</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>40003</string>
				<key>image</key>
				<string>pizza_03</string>
				<key>salesNum</key>
				<string>5</string>
				<key>price</key>
				<string>7.00</string>
				<key>name</key>
				<string>披萨03</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>40004</string>
				<key>image</key>
				<string>pizza_04</string>
				<key>salesNum</key>
				<string>2</string>
				<key>price</key>
				<string>12.00</string>
				<key>name</key>
				<string>披萨04</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>40005</string>
				<key>image</key>
				<string>pizza_05</string>
				<key>salesNum</key>
				<string>1</string>
				<key>price</key>
				<string>6.00</string>
				<key>name</key>
				<string>披萨05</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>40006</string>
				<key>image</key>
				<string>pizza_06</string>
				<key>salesNum</key>
				<string>9</string>
				<key>price</key>
				<string>4.00</string>
				<key>name</key>
				<string>披萨06</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>40007</string>
				<key>image</key>
				<string>pizza_07</string>
				<key>salesNum</key>
				<string>12</string>
				<key>price</key>
				<string>12.00</string>
				<key>name</key>
				<string>披萨07</string>
			</dict>
			<dict>
				<key>currentNum</key>
				<string>0</string>
				<key>foodId</key>
				<string>40008</string>
				<key>image</key>
				<string>pizza_08</string>
				<key>salesNum</key>
				<string>12</string>
				<key>price</key>
				<string>12.00</string>
				<key>name</key>
				<string>披萨08</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
